.site-header{
	position: absolute;
	z-index: 2;
	background-color: rgba(#2f5572, 0.3);
	width: 100%;
	padding: 10px 0;

	&__button-container{
		float: right;
	}

	&__logo{
		position: absolute;
		background-color: #2f5572;
		padding: 25px 36px;
		top: 0;
	}

}